/* cart.css */
body {
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
}

.navbar .logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar .nav-links li a:hover {
    color: #ff9800;
}


h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.cart-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-details h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.cart-item-details p {
    font-size: 18px;
    margin: 5px 0;
}

.remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
}

.checkout-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
}
